body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(./images/backgound-consultorio.jpg);
    background-size: cover;
    background-position: center center;
  }
  
  .container {
    text-align: center;
    background: rgb(150, 108, 58);
    background: linear-gradient(
      90deg,
      rgba(150, 108, 58, 1) 0%,
      rgba(201, 132, 51, 0.7497198708584997) 0%,
      rgba(214, 163, 104, 0.5088235123150823) 0%,
      rgba(232, 228, 226, 0.8477590865447742) 44%,
      rgba(224, 169, 102, 0.0858543246400123) 100%
    );
    padding: 2%;
    width: 90vw;
    max-width: 500px;
  }
  
  .profile {
    margin-bottom: 1.25rem;
  }
  
  .profile-picture {
    width: 9.375rem;
    height: 9.375rem;
    border-radius: 50%;
  }
  
  .profile h2 {
    color: #fff;
  }
  
  .links {
    display: flex;
    flex-direction: column;
  }
  
  .links a {
    margin: 0.625rem;
    padding: 0.625rem;
    border: 0.063rem solid #ccc;
    border-radius: 1.25rem;
    text-decoration: none;
    color: #fff;
    background-color: #c0a35f;
  }
  
  /* Estilos para celulares */
  @media screen and (max-width: 480px) {
    .container {
      width: 90vw;
      max-width: 90%;
    }
  
    .profile-picture {
      width: 6.25rem;
      height: 6.25rem;
    }
  
    .links a {
      margin: 0.3125rem;
      padding: 0.3125rem;
    }
  }
  