html{
    min-height: 100vh;
}


body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    flex-direction: column;
    background-image: url(./images/backgound-consultorio.jpg);
    background-size: cover;
    background-position: center center;
    overflow-x: hidden;
    background-repeat: no-repeat;
  }
  
  
  
  
  .container {
    display: flex;
    width: 91%;
    max-width: 680px;
    flex-direction: column;
    align-items: center;
    background: rgb(151, 110, 56);
    background: linear-gradient(180deg, rgba(151, 110, 56, 0.9009803750601804) 0%, rgba(153, 144, 132, 0.7805321957884717) 100%);
    padding: 3%;
    margin: 2%;
  }
  
  .container h2 {
    color: #fff;
    margin-top: 20px;
    margin-bottom: 20px;
    
  }
  
  .link {
    width: 90%;
    background-color: #c0a35f;
    margin: 10px;
    border-radius: 30px;
    height: 56px;
    text-align: center;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    padding: 5px;
    letter-spacing: 2.0px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .image-container {
    background-color: antiquewhite;
    width: 50%;
    height: 50vh;
    border-radius: 50%;
    border: goldenrod 5px solid;
  }
  
  .image-container img {
    height: 100%;
    border-radius: 50%;
    width: 100%;
  }
  
  /* Media queries para dispositivos móveis */
  @media screen and (max-width: 768px) {
    .container {
      width: 80%;
      padding: 2%;
      margin: 1%;
    }
  
    .image-container {
      width: 40%;
      height: 20vh;
    }
  
    .link {
      font-size: 20px;
    }
  }
  
  @media screen and (min-width:360px) and (max-width: 480px) {
   
    
    body{
        padding: 5%;
        margin: 3%;
        
    }
  .container{
     
      padding: 3%;
      margin: 1%;
      text-align: center;
      width: 80%;

    }

    .container h2 {
            line-height: 30px;
            font-size: 30px; /* Define o espaçamento como 24 pixels */
          
      }
  
    .image-container {
     
      height: 25vh;
      width: 65%;
    }

    
  
    .link {
      font-size: 18px;
    }
  }
  

.email-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .email-form input[type="email"] {
    width: 100%;
    max-width: 300px;
    height: 40px;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
  }
  
  .email-form button[type="submit"] {
    width: 100%;
    max-width: 200px;
    height: 40px;
    background-color: #c0a35f;
    margin-top: 10px;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
  }